
@{
    ViewBag.Title = "Change_password";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section class="content-header">
    <h1>
        Dashboard
        <small>Change password</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/estore/Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Change password</li>
    </ol>
</section>
<section class="content">
    <div ng-controller="loginController" class="col-lg-offset-4">
        <div class="col-md-5">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2>Change password</h2>
                </div>
                <div class="panel-body">
                    <form name="chPassform" ng-submit="changepassword()" novalidate>
                        <div class="form-group has-feedback">
                            <label class="control-label">Old Password</label>
                            <input type="password" required class="form-control" name="o_pass" placeholder="Old password" ng-model="o_pass">
                            <span class="glyphicon glyphicon-lock form-control-feedback" ng-show="chPassform.o_pass.$dirty && chPassform.o_pass.$invalid"></span>
                            <span class="text-danger" ng-show="chPassform.o_pass.$error.required">Old password is required</span>

                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label">New Password</label>
                            <input type="password" ng-minlength="6" class="form-control" placeholder="New password" name="n_pass" ng-model="n_pass" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback" ng-show="chPassform.n_pass.$dirty && chPassform.n_pass.$invalid"></span>
                            <span class="text-danger" ng-show="chPassform.n_pass.$error.required">New password is required</span>
                            <span ng-show="chPassform.n_pass.$error.minlength" class="help-block">Minimum 6 character</span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label">Confirm Password</label>
                            <input type="password" class="form-control" match-password="n_pass" placeholder="Confirm password" name="rt_pass" ng-model="rt_pass" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback" ng-show="chPassform.rt_pass.$dirty && chPassform.rt_pass.$invalid"></span>
                            <span class="text-danger" ng-show="chPassform.rt_pass.$error.required">Confirm password is required</span>
                            <span class="text-danger" ng-show="chPassform.rt_pass.$error.matchPassword && !chPassform.rt_pass.$error.required">Confirm password didn't match</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">
                                <button class="btn btn-success btn-block btn-flat" type="submit" ng-disabled="chPassform.rt_pass.$dirty && chPassform.rt_pass.$invalid ||
                                            chPassform.n_pass.$dirty && chPassform.n_pass.$invalid ||
                                             chPassform.o_pass.$dirty && chPassform.o_pass.$invalid
                                            ">
                                    Change password
                                </button>

                            </div>
                            <button class="btn btn-danger  col-xs-4" onclick="history.go(-1);"><i class="glyphicon glyphicon-chevron-left"> </i>Go Back</button>
                            <!-- /.col -->

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</section>

@section scripts{    
<script src="~/Angular/confirm_password_dir.js"></script>

    }